@{
    ViewBag.Title = "Home Page";
}</b>

<div class="jumbotron">

    <p class="lead">
        <b>
            Product Application Task.<br />

            1.First Create Categories<br />

            2.Second Create Products
</b>
    </p>

</div>
